$color_1: #ffffff;
$color_2: #efc700;
$color_3: #313131;
$color_4: #000000;
$color_5: #e41e13;
$color_6: #d3031c;
$color_7: #15181d;
$color_8: #030c3e;
$color_9: #041442;

$lightWhite: rgba(255,255,255,0.8);
$lightBlack: rgb(0, 0, 0, 0.8);
$transparent: transparent;

$inherit: inherit;

$font-family_1: museo, serif;
$font-family_2: 'FontAwesome';
$glyphiconHalflings: 'Glyphicons Halflings';
